.swiper {
    width: 1000px;
    height: 50%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 700px;
    height: 600px;
}
  
.swiper {
    margin-left: auto;
    margin-right: auto;
}